<div class="vgio_play_screen">
<div>
	<div class="vgio-screen-filter"  ng-click="starter()" ng-class="{'show-me': transition_control}"></div>
	<img  class="vgio_play_icon" ng-click="starter()"  ng-class="{'show-me': transition_control}" src="svgs/vgio_play.svg">
</div>
<?xml version="1.0" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
 "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
<svg class="vgio-screen" ng-click="starter()" version="1.0" xmlns="http://www.w3.org/2000/svg"
 ng-attr-width={{wid}} ng-attr-het={{hit}} height="100%" ng-attr-viewbox={{viewbox}}
 preserveAspectRatio="xMidYMid meet">
<g ng-attr-transform={{transform}}
fill="#243442" stroke="none" >
<path ng-attr-d={{pather}} />
</g>
</svg>
</div>

